{% extends "base.html" %}
{% block title %}Registrar Usuario{% endblock %}

{% block content %}
<h1>Registrar Usuario</h1>

<form method="POST" class="mt-3">
    <div class="mb-3">
        <label class="form-label" for="nombreInput">Nombre:</label>
        <input type="text" id="nombreInput" name="nombre" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="emailInput">Email:</label>
        <input type="email" name="email" id="emailInput" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="passwordInput">Contraseña:</label>
        <input type="password" id="passwordInput" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="rolSelect">Rol:</label>
        <select id="rolSelect" name="rol" class="form-select" required>
            <option value="admin">Administrador</option>
            <option value="usuario">Usuario</option>
            <option value="visitante">Visitante</option>
        </select>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" name="two_factor_enabled" class="form-check-input" id="2faCheck">
        <label class="form-check-label" for="2faCheck">Habilitar autenticación de dos factores</label>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
</form>

{% endblock %}